<!DOCTYPE html>
<meta charset="UTF-8">
<link rel="stylesheet" href="/static/style.css">
<html>
	{% extends "base.html" %}
	{% block content %}
	{% if session['logged_in'] %}
		{% if data %}
			<h3>{{ data }}</h3>
		{% else %}
		<center><div>
			<a href="/logout">Logout</a><br><br>
			<form action="" method="POST">

			</form>
		</div></center>
		{% endif %}

	{% else %}
	<center><div>
		<br>
		<p>소속 부서의 계정으로 로그인해 주세요.</p>
		<br>
		<center><div>

			<form action="/login" method="POST">
			  <input type="username" name="username" placeholder="id">
			  <input type="password" name="password" placeholder="Password">
			  <br><br>
			  <input type="submit" value="로그인">
			</form>
		</div></center>	
		

	</div></center>
	{% endif %}
	{% endblock %}
</html>